<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.fulsun.hexoadmin.user.infrastructure.mapper.UserMapper">
    <sql id="Base_Column_List">
        ID,
        GMT_CREATE,
        GMT_MODIFIED,
        NICK_NAME,
        PASSWORD_HASH,
        `STATE`,
        INVITE_CODE,
        TELEPHONE,
        INVITER_ID,
        LAST_LOGIN_TIME,
        PROFILE_PHOTO_URL,
        CERTIFICATION,
        REAL_NAME,
        ID_CARD_NO,
        USER_ROLE,
        DELETED,
        LOCK_VERSION
    </sql>
    <resultMap id="BaseResultMap" type="pers.fulsun.hexoadmin.user.domain.entity.User">
        <result property="id" column="ID"/>
        <result property="gmtCreate" column="GMT_CREATE"/>
        <result property="gmtModified" column="GMT_MODIFIED"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="passwordHash" column="PASSWORD_HASH"/>
        <result property="state" column="STATE"/>
        <result property="inviteCode" column="INVITE_CODE"/>
        <result property="telephone" column="TELEPHONE"/>
        <result property="inviterId" column="INVITER_ID"/>
        <result property="lastLoginTime" column="LAST_LOGIN_TIME"/>
        <result property="profilePhotoUrl" column="PROFILE_PHOTO_URL"/>
        <result property="blockChainUrl" column="BLOCK_CHAIN_URL"/>
        <result property="blockChainPlatform" column="BLOCK_CHAIN_PLATFORM"/>
        <result property="certification" column="CERTIFICATION"/>
        <result property="realName" column="REAL_NAME"
            typeHandler="pers.fulsun.hexoadmin.user.infrastructure.mapper.AesEncryptTypeHandler"/>
        <result property="idCardNo" column="ID_CARD_NO"
            typeHandler="pers.fulsun.hexoadmin.user.infrastructure.mapper.AesEncryptTypeHandler"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="deleted" column="DELETED"/>
        <result property="lockVersion" column="LOCK_VERSION"/>
    </resultMap>
    
    
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users where deleted=0
        <if test="id !=null">AND id = #{id}</if>
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2025-03-27-->
    <select id="findByTelephone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where deleted=0
        <if test=" telephone != null and telephone != ''">
            and TELEPHONE=#{telephone}
        </if>
    </select>
    <select id="findByTelephoneAndPass" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users where deleted=0
        <if test="telephone!=null">AND telephone = #{telephone}</if>
        <if test="passwordHash!=null">AND password_hash = #{passwordHash}</if>
    </select>
    
    <select id="findByNickname" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users where deleted=0
        <if test="nickName!=null">AND nick_name = #{nickName}</if>
    </select>
    
    
    <select id="findByInviteCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users where deleted=0
        <if test="inviteCode!=null">AND invite_code = #{inviteCode}</if>
    </select>
</mapper>
